
.img-responsive {
  width: 100%;
  height: auto;
}

.slice-category {
  background-color: #000;
}

.l-col-4 {
  position: relative;
}

h3.block-title {
  text-transform: uppercase;
  text-align: center;
  font-family: 'lato',Arial,sans-serif;
  font-weight: 100;
  letter-spacing: 2px;
}

/*#content {
  margin-top: 150px;
}*/

/*.path-taxonomy #content, .path-frontpage #content, .page-node-type-article #content {
  margin-top: 20px;
}*/

a {
  color: #444;
}

a:hover {
  color: #666;
}

ul.tabs {
  text-align: center;
  margin-bottom: 20px;
}

ul.tabs a {
  color: #fff;
  background: #555;
  text-transform: uppercase;
  padding: 4px 8px 6px;
  border-radius: 2px;
  font-weight: 100;
}

ul.tabs a.is-active, ul.tabs a:hover {
  background-color: #000;
}
