<!doctype html>
<!--[if lte IE 7]> <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8]>     <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if IE 9]>     <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>Aston Martin</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" >
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Favicon -->
	<link rel="shortcut icon" type="image/icon" href="/favicon.ico">
	<link rel="stylesheet" type="text/css" href="../source/css/style.css">
	<link href="//cloud.webtype.com/css/65465f19-6394-4e29-b160-57daace4eec7.css" rel="stylesheet" type="text/css" />
</head>
<body>


<!-- Menu -->
<div id="menu" class="slice slice-overlay t-light">
	<div class="l-col-12 l-content h-clearfix">
		<div class="l-col-12 l-padding">
			<div class="h-right">
				<div class="i-menu-close"></div>
			</div>
		</div>
		<div class="l-col-12 l-padding t-center main-menu-holder">
			<nav>
				<ul>
					<li><a href="">Home</a></li>
					<li><a href="">Drive</a></li>
					<li><a href="">People</a></li>
					<li><a href="">Heritage</a></li>
					<li><a href="">Lifestyle</a></li>
					<li><a href="">Design</a></li>
					<li><a href="">Travel</a></li>
					<li><a href="">Shop</a></li>
					<li><a href="">Experiences</a></li>
				</ul>
			</nav>
		</div>
	</div>
</div>
<!-- Menu end -->

<!-- Search -->
<div id="search" class="slice slice-overlay t-light">
	<div class="l-col-12 l-content h-clearfix">
		<div class="l-col-12 l-padding t-search">
			<div class="h-right">
				<div class="i-search-close"></div>
			</div>
		</div>
		<div class="l-col-12 t-center t-search">
			<div class="l-col-7 l-content l-padding">
				<h1>Search</h1>
				<form class="search-holder">
					<input class="search" type="text" />
				</form>
			</div>
		</div>
		<!-- If there are search results then display this block -->
		<div class="l-col-12">
			<div class="l-col-12 t-center l-padding">
				<h3>Search Results for</h3>
			</div>
			<div class="l-col-12 search-results t-listing t-center">
				<div class="l-col-4 l-padding listing">
					<a href="#">
						<img class="b-lazy" data-src="../assets/search-1.jpg" alt=""/>
						<h3>Lorem ipsum dolor</h3>
						<h5>DISCOVER MORE</h5>
					</a>
				</div>
				<div class="l-col-4 l-padding listing">
					<a href="#">
						<img class="b-lazy" data-src="../assets/search-2.jpg" alt=""/>
						<h3>Lorem ipsum dolor</h3>
						<h5>Full Story</h5>
					</a>
				</div>
				<div class="l-col-4 l-padding listing">
					<a href="#">
						<img class="b-lazy" data-src="../assets/search-3.jpg" alt=""/>
						<h3>lorem ipsum dolor dit amet</h3>
						<h5>Find out here</h5>
					</a>
				</div>
				<div class="l-col-4 l-padding listing">
					<a href="#">
						<img class="b-lazy" data-src="../assets/search-1.jpg" alt=""/>
						<h3>Lorem ipsum dolor</h3>
						<h5>DISCOVER MORE</h5>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Search end -->

<!-- Sticky nav -->
<header class="header">
	<div class="slice">
		<div class="l-col-12 l-content t-light main-menu h-clearfix">
			<div class="l-col-4 f-col-4 l-padding">
				<div class="i-search"></div>
				<a class="back-to-aston h-hidden-sm" href="http://www.astonmartin.com/">astonmartin.com</a>
			</div>
			<div class="l-col-4 f-col-4 l-padding t-center">
				<div class="logo"></div>
			</div>
			<div class="l-col-4 f-col-4 l-padding">
				<div class="h-right">
					<div class="button-nav">
						<span class="button-nav-lines"></span>
					</div>
				</div>
			</div>
		</div>
		<div class="header-gradient"></div>
	</div>
</header>
<!-- Sticky nav end -->

<!-- Home hero -->
<div class="slice">
	<div class="hero-slick">
		<div>
			<div class="home-hero contact-hero b-lazy b-lazy" data-src="../assets/contact-bg.jpg">
				<div class="home-hero-content">
					<div class="t-light t-center t-hero">
						<div class="l-col-12 l-content l-padding">
							<h1>Get In Touch</h1>
						</div>
						<div class="l-col-6 l-content f-col-10 f-push-1 l-padding">
							<div class="border-top h-clearfix"></div>
							<h4>Thank you for your interest. Please use the form below to contact us.</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Home hero end -->

<!-- Contact form -->
<div class="slice slice-contact h-clearfix">
	<div class="l-col-12 l-content">
		<div class="l-col-12 l-padding">
			<h2>Details</h2>
		</div>
		<form class="h-clearfix">
			<div class="l-col-12 contact-form">
				<div class="l-col-4 l-padding">
					<input class="text" placeholder="Title" type="text" />
				</div>

				<div class="h-clearfix"></div>
				
				<div class="l-col-4 l-padding">
					<input class="text" placeholder="First Name" type="text" />
				</div>
				<div class="l-col-4 l-padding">
					<input class="text" placeholder="Last Name" type="text" />
				</div>
				<div class="l-col-4 l-padding">
					<input class="text" placeholder="Email Address" type="text" />
				</div>

				<div class="l-col-4 l-padding">
					<input class="text" placeholder="Address" type="text" />
				</div>
				<div class="l-col-4 l-padding">
					<input class="text" placeholder="Town/City" type="text" />
				</div>
				<div class="l-col-4 l-padding">
					<input class="text" placeholder="County/State" type="text" />
				</div>

				<div class="l-col-4 l-padding">
					<input class="text" placeholder="Postcode/Zipcode" type="text" />
				</div>
				<div class="l-col-4 l-padding">
					<input class="text" placeholder="Country" type="text" />
				</div>
				<div class="l-col-4 l-padding">
					<input class="text" placeholder="Telephone" type="text" />
				</div>
			</div>
			<div class="l-col-12 l-padding">
				<p>Aston Martin Lagonda Limited and its official, authorised dealer partners would like to be able to contact you about invitations, news, and information about its products and services and to be able to share your information with its group companies and select business partners in your local region or country who may contact you about their goods and services. If you would like to receive such invitations and information from us or our selected business partners, please confirm that we may use and share your data as described, and indicate your preferences by ticking the means by which you would like to hear from us:</p>
				<h4>Marketing preferences</h4>
				<div class="h-clearfix checkbox-holder">
					<input type="checkbox" name="vehicle" value="Bike"><label>Email</label>
					<input type="checkbox" name="vehicle" value="Bike"><label>Post</label>
					<input type="checkbox" name="vehicle" value="Bike"><label>SMS</label>
					<input type="checkbox" name="vehicle" value="Bike"><label>Phone</label>
				</div>
				<p>Aston Martin respects your privacy and your personal data will be used in accordance with our privacy policy. If at any time you wish to cease receiving such communications, please let us know by writing to the Data Controller, Aston Martin, CV35 0DB, UK or by clicking unsubscribe on the emails you may receive.</p>
				<input class="button submit" value="Submit" type="submit">
			</div>
		</form>
	</div>
</div>
<!-- Contact form end -->


<!-- Get updates -->
<div class="slice slice-updates h-clearfix">
	<div class="l-col-12 l-content">
		<div class="l-col-12 l-padding t-updates">
			<div class="t-center">
				<h2>GET exclusive am updates</h2>
				<h5>Get the latest news in your inbox.</h5>
			</div>
		</div>
		<div class="l-col-12 l-padding">
			<form>
				<select class="text title">
					<option value="volvo">Title</option>
					<option value="saab">Mr</option>
					<option value="mercedes">Mrs</option>
					<option value="audi">Ms</option>
				</select>
				<input class="text" placeholder="First Name" type="text" />
				<input class="text" placeholder="Last Name" type="text" />
				<input class="text" placeholder="Email Address" type="text" />
				<select class="text">
					<option value="volvo">Country</option>
					<option value="saab">NZ</option>
					<option value="mercedes">UK</option>
					<option value="audi">Italy</option>
				</select>
				<input class="button submit" value="sign up" type="submit" value="Submit">
			</form>
		</div>
	</div>
</div>
<!-- Get updates end -->

<!-- Footer -->
<footer>
	<div class="slice slice-footer h-clearfix">
		<div class="l-col-12 l-content">
			<div class="l-col-4 l-padding h-hidden-sm">
				<ul class="footer-nav">
					<li><a href="#">Shop</a></li>
					<li><a href="#">Experiences</a></li>
					<li><a href="#">ASTONMARTIN.COM</a></li>
					<li><a href="#"> TERMS &amp; CONDITIONS </a></li>
					<li><a href="#">PRIVACY POLICY</a></li>
					<li><a href="#">Cookie Policy</a></li>
					<li><a href="#">Site Map</a></li>
				</ul>
			</div>
			<div class="l-col-4 l-padding">
				<div class="footer-logo"></div>
			</div>
			<div class="l-col-4 l-padding">
				<div class="social">
					<a href="" class="circle">
						<span class="icon facebook"></span>
					</a>
					<a href="" class="circle">
						<span class="icon twitter"></span>
					</a>
					<a href="" class="circle">
						<span class="icon instagram"></span>
					</a>
					<div class="h-clearfix"></div>
					<a href="" class="circle">
						<span class="icon youtube"></span>
					</a>
					<a href="" class="circle">
						<span class="icon google"></span>
					</a>
					<a href="" class="circle">
						<span class="icon pinterest"></span>
					</a>
				</div>
			</div>
			<div class="l-col-4 l-padding h-visible-sm">
				<ul class="footer-nav">
					<li><a href="#">Shop</a></li>
					<li><a href="#">Experiences</a></li>
					<li><a href="#">ASTONMARTIN.COM</a></li>
					<li><a href="#"> TERMS &amp; CONDITIONS </a></li>
					<li><a href="#">PRIVACY POLICY</a></li>
					<li><a href="#">Cookie Policy</a></li>
					<li><a href="#">Site Map</a></li>
				</ul>
			</div>
		</div>
		<div class="l-col-12 l-content">
			<div class="l-col-12 l-padding copyright">
				<div class="copyright-content">© ASTON MARTIN 2016</div>
			</div>	
		</div>
	</div>
</footer>
<!-- Footer end -->

<script type="text/javascript" src="../source/js/libs/jquery.min.js"></script>
<script type="text/javascript" src="../source/js/libs/blazy.min.js"></script>
<script type="text/javascript" src="../source/js/libs/slick.min.js"></script>
<script type="text/javascript" src="../source/js/scripts/main.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js"></script>
<script>
 WebFont.load({
    google: {
      families: ['Lato:400,300,700']
    }
  });
</script>

</body>
</html>