<!doctype html>
<!--[if lte IE 7]> <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8]>     <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if IE 9]>     <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>Aston Martin</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" >
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Favicon -->
	<link rel="shortcut icon" type="image/icon" href="/favicon.ico">
	<link rel="stylesheet" type="text/css" href="../source/css/style.css">
	<link href="//cloud.webtype.com/css/65465f19-6394-4e29-b160-57daace4eec7.css" rel="stylesheet" type="text/css" />
</head>
<body>


<!-- Menu -->
<div id="menu" class="slice slice-overlay t-light">
	<div class="l-col-12 l-content h-clearfix">
		<div class="l-col-12 l-padding">
			<div class="h-right">
				<div class="i-menu-close"></div>
			</div>
		</div>
		<div class="l-col-12 l-padding t-center main-menu-holder">
			<nav>
				<ul>
					<li><a href="">Home</a></li>
					<li><a href="">Drive</a></li>
					<li><a href="">People</a></li>
					<li><a href="">Heritage</a></li>
					<li><a href="">Lifestyle</a></li>
					<li><a href="">Design</a></li>
					<li><a href="">Travel</a></li>
					<li><a href="">Shop</a></li>
					<li><a href="">Experiences</a></li>
				</ul>
			</nav>
		</div>
	</div>
</div>
<!-- Menu end -->

<!-- Search -->
<div id="search" class="slice slice-overlay t-light">
	<div class="l-col-12 l-content h-clearfix">
		<div class="l-col-12 l-padding t-search">
			<div class="h-right">
				<div class="i-search-close"></div>
			</div>
		</div>
		<div class="l-col-12 t-center t-search">
			<div class="l-col-7 l-content l-padding">
				<h1>Search</h1>
				<form class="search-holder">
					<input class="search" type="text" />
				</form>
			</div>
		</div>
		<!-- If there are search results then display this block -->
		<div class="l-col-12">
			<div class="l-col-12 t-center l-padding">
				<h3>Search Results for</h3>
			</div>
			<div class="l-col-12 search-results t-listing t-center">
				<div class="l-col-4 l-padding listing">
					<a href="#">
						<img class="b-lazy" data-src="../assets/search-1.jpg" alt=""/>
						<h3>Lorem ipsum dolor</h3>
						<h5>DISCOVER MORE</h5>
					</a>
				</div>
				<div class="l-col-4 l-padding listing">
					<a href="#">
						<img class="b-lazy" data-src="../assets/search-2.jpg" alt=""/>
						<h3>Lorem ipsum dolor</h3>
						<h5>Full Story</h5>
					</a>
				</div>
				<div class="l-col-4 l-padding listing">
					<a href="#">
						<img class="b-lazy" data-src="../assets/search-3.jpg" alt=""/>
						<h3>lorem ipsum dolor dit amet</h3>
						<h5>Find out here</h5>
					</a>
				</div>
				<div class="l-col-4 l-padding listing">
					<a href="#">
						<img class="b-lazy" data-src="../assets/search-1.jpg" alt=""/>
						<h3>Lorem ipsum dolor</h3>
						<h5>DISCOVER MORE</h5>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Search end -->

<!-- Sticky nav -->
<header class="header">
	<div class="slice">
		<div class="l-col-12 l-content t-light main-menu h-clearfix">
			<div class="l-col-4 f-col-4 l-padding">
				<div class="i-search"></div>
				<a class="back-to-aston h-hidden-sm" href="http://www.astonmartin.com/">astonmartin.com</a>
			</div>
			<div class="l-col-4 f-col-4 l-padding t-center">
				<img class="c-logo" src="http://www.iln.co.uk/aston/themes/custom/aston_martin/source/images/logo@2x.png">
			</div>
			<div class="l-col-4 f-col-4 l-padding">
				<div class="h-right">
					<div class="button-nav">
						<span class="button-nav-lines"></span>
					</div>
				</div>
			</div>
		</div>
		<div class="header-gradient"></div>
	</div>
</header>
<!-- Sticky nav end -->

<!-- Home hero -->
<div class="slice">
	<div class="hero-slick">
		<div>
			<div class="home-hero b-lazy b-lazy" data-src="../assets/hero-bg.jpg">
				<div class="home-hero-content">
					<div class="t-light t-center t-hero">
						<div class="l-col-12 l-content l-padding">
							<h1>THE NIGHT WATCH</h1>
						</div>
						<div class="l-col-6 l-content f-col-10 f-push-1 l-padding">
							<div class="border-top h-clearfix"></div>
							<h4>Exploring Berlin in the comfort of the Rapide as dusk begins to fall</h4>
							<a class="button button-hero" href="#">Read more</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Home hero end -->

<!-- Home masonary -->
<div class=" slice h-clearfix">
	<div class="masonary">

		<a href="#" class="box box1 b-lazy" data-src="../assets/home-box-1.jpg">
			<div class="box-holder top">
				<div class="box-label">Heritage</div>
			</div>

			<div class="box-holder bottom">
				<div class="box-content">
					<h4>THE DB FAMILY LOREM IPSUM</h4>
					<span class="link">Full story</span>	
				</div>
			</div>
		</a>

		<a href="#" class="box box2 b-lazy" data-src="../assets/home-box-2.jpg">
			<div class="box-holder top">
				<div class="box-label">Drive</div>
			</div>

			<div class="box-holder bottom">
				<div class="box-content">
					<h4>V is for vulcan lorem ipsum dolor</h4>
					<span class="link">Read More</span>	
				</div>
			</div>
		</a>
		<a href="#" class="box box3 b-lazy" data-src="../assets/home-box-3.jpg">
			<div class="box-holder top">
				<div class="box-label">Design</div>
			</div>

			<div class="box-holder bottom">
				<div class="box-content">
					<h4>the maker of note lorem</h4>
					<span class="link">Discover More</span>	
				</div>
			</div>
		</a>
		<div class="box box4">
			<div class="quote-holder t-center">
				<div class="h-centered-holder quote-center">
					<div class="h-centered-content">
						<span class="quote open"></span>
						<blockquote>In velit elit, justo Phasellus vestibulum pharetra magna facilisis tincidunt sagittis</blockquote>
						<span class="quote close"></span>
					</div>
				</div>
			</div>
		</div>
		<a href="#" class="box box5 b-lazy" data-src="../assets/home-box-5.jpg">
			<div class="box-holder top">
				<div class="box-label">Style</div>
			</div>

			<div class="box-holder bottom">
				<div class="box-content">
					<h4>street art lorem ipsum</h4>
					<span class="link">See it here</span>	
				</div>
			</div>
		</a>
		<a href="#" class="box box6 b-lazy" data-src="../assets/home-box-6.jpg">
			<div class="box-holder top">
				<div class="box-label">People</div>
			</div>

			<div class="box-holder bottom">
				<div class="box-content">
					<h4>andy palmer lorem ipsum</h4>
					<span class="link">Watch here</span>	
				</div>
			</div>
		</a>
		<a href="#" class="box box7 b-lazy" data-src="../assets/home-box-7.jpg">
			<div class="box-holder top">
				<div class="box-label">Travel</div>
			</div>

			<div class="box-holder bottom">
				<div class="box-content">
					<h4>songs of the south lorem ipsum dolor</h4>
					<span class="link">Step inside</span>	
				</div>
			</div>
		</a>
		<a href="#" class="box box8 b-lazy" data-src="../assets/home-box-8.jpg">
			<div class="box-holder top">
				<div class="box-label">Presented by dior</div>
			</div>

			<div class="box-holder bottom">
				<div class="box-content">
					<h4>lorem ipsum dolor sit amet lorem ipsum</h4>
					<span class="link">Find out how</span>	
				</div>
			</div>
		</a>
		<a href="#" class="box box9 b-lazy" data-src="../assets/home-box-9.jpg">
			<div class="box-holder top">
				<div class="box-label">Partner</div>
			</div>

			<div class="box-holder bottom">
				<div class="box-content">
					<h4>story time lorem ipsum</h4>
					<span class="link">Read More</span>	
				</div>
			</div>
		</a>
		<a href="#" class="box box10 b-lazy" data-src="../assets/home-box-10.jpg">
			<div class="box-holder top">
				<div class="box-label">Presented by Macallan</div>
			</div>

			<div class="box-holder bottom">
				<div class="box-content">
					<h4>creating the perfect blend lorem ipsum</h4>
					<span class="link">Find out how</span>	
				</div>
			</div>
		</a>
	</div>
</div>
<!-- Home masonary end -->

<!-- Get updates -->
<div class="slice slice-updates h-clearfix">
	<div class="l-col-12 l-content">
		<div class="l-col-12 l-padding t-updates">
			<div class="t-center">
				<h2>GET exclusive am updates</h2>
				<h5>Get the latest news in your inbox.</h5>
			</div>
		</div>
		<div class="l-col-12 l-padding">
			<form>
				<select class="text title">
					<option value="volvo">Title</option>
					<option value="saab">Mr</option>
					<option value="mercedes">Mrs</option>
					<option value="audi">Ms</option>
				</select>
				<input class="text" placeholder="First Name" type="text" />
				<input class="text" placeholder="Last Name" type="text" />
				<input class="text" placeholder="Email Address" type="text" />
				<select class="text">
					<option value="volvo">Country</option>
					<option value="saab">NZ</option>
					<option value="mercedes">UK</option>
					<option value="audi">Italy</option>
				</select>
				<input class="button submit" value="sign up" type="submit" value="Submit">
			</form>
		</div>
	</div>
</div>
<!-- Get updates end -->

<!-- Footer -->
<footer>
	<div class="slice slice-footer h-clearfix">
		<div class="l-col-12 l-content">
			<div class="l-col-4 l-padding h-hidden-sm">
				<ul class="footer-nav">
					<li><a href="#">Shop</a></li>
					<li><a href="#">Experiences</a></li>
					<li><a href="#">ASTONMARTIN.COM</a></li>
					<li><a href="#"> TERMS &amp; CONDITIONS </a></li>
					<li><a href="#">PRIVACY POLICY</a></li>
					<li><a href="#">Cookie Policy</a></li>
					<li><a href="#">Site Map</a></li>
				</ul>
			</div>
			<div class="l-col-4 l-padding">
				<div class="footer-logo"></div>
			</div>
			<div class="l-col-4 l-padding">
				<div class="social">
					<a href="" class="circle">
						<span class="icon facebook"></span>
					</a>
					<a href="" class="circle">
						<span class="icon twitter"></span>
					</a>
					<a href="" class="circle">
						<span class="icon instagram"></span>
					</a>
					<div class="h-clearfix"></div>
					<a href="" class="circle">
						<span class="icon youtube"></span>
					</a>
					<a href="" class="circle">
						<span class="icon google"></span>
					</a>
					<a href="" class="circle">
						<span class="icon pinterest"></span>
					</a>
				</div>
			</div>
			<div class="l-col-4 l-padding h-visible-sm">
				<ul class="footer-nav">
					<li><a href="#">Shop</a></li>
					<li><a href="#">Experiences</a></li>
					<li><a href="#">ASTONMARTIN.COM</a></li>
					<li><a href="#"> TERMS &amp; CONDITIONS </a></li>
					<li><a href="#">PRIVACY POLICY</a></li>
					<li><a href="#">Cookie Policy</a></li>
					<li><a href="#">Site Map</a></li>
				</ul>
			</div>
		</div>
		<div class="l-col-12 l-content">
			<div class="l-col-12 l-padding copyright">
				<div class="copyright-content">© ASTON MARTIN 2016</div>
			</div>	
		</div>
	</div>
</footer>
<!-- Footer end -->

<script type="text/javascript" src="../source/js/libs/jquery.min.js"></script>
<script type="text/javascript" src="../source/js/libs/blazy.min.js"></script>
<script type="text/javascript" src="../source/js/libs/slick.min.js"></script>
<script type="text/javascript" src="../source/js/scripts/main.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js"></script>
<script>
 WebFont.load({
    google: {
      families: ['Lato:400,300,700']
    }
  });
</script>

</body>
</html>