<!doctype html>
<!--[if lte IE 7]> <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8]>     <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if IE 9]>     <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>Aston Martin</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" >
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Favicon -->
	<link rel="shortcut icon" type="image/icon" href="/favicon.ico">
	<link rel="stylesheet" type="text/css" href="../source/css/style.css">
	<link href="//cloud.webtype.com/css/65465f19-6394-4e29-b160-57daace4eec7.css" rel="stylesheet" type="text/css" />
</head>
<body>


<!-- Menu -->
<div id="menu" class="slice slice-overlay t-light">
	<div class="l-col-12 l-content h-clearfix">
		<div class="l-col-12 l-padding">
			<div class="h-right">
				<div class="i-menu-close"></div>
			</div>
		</div>
		<div class="l-col-12 l-padding t-center main-menu-holder">
			<nav>
				<ul>
					<li><a href="">Home</a></li>
					<li><a href="">Drive</a></li>
					<li><a href="">People</a></li>
					<li><a href="">Heritage</a></li>
					<li><a href="">Lifestyle</a></li>
					<li><a href="">Design</a></li>
					<li><a href="">Travel</a></li>
					<li><a href="">Shop</a></li>
					<li><a href="">Experiences</a></li>
				</ul>
			</nav>
		</div>
	</div>
</div>
<!-- Menu end -->

<!-- Search -->
<div id="search" class="slice slice-overlay t-light">
	<div class="l-col-12 l-content h-clearfix">
		<div class="l-col-12 l-padding t-search">
			<div class="h-right">
				<div class="i-search-close"></div>
			</div>
		</div>
		<div class="l-col-12 t-center t-search">
			<div class="l-col-7 l-content l-padding">
				<h1>Search</h1>
				<form class="search-holder">
					<input class="search" type="text" />
				</form>
			</div>
		</div>
		<!-- If there are search results then display this block -->
		<div class="l-col-12">
			<div class="l-col-12 t-center l-padding">
				<h3>Search Results for</h3>
			</div>
			<div class="l-col-12 search-results t-listing t-center">
				<div class="l-col-4 l-padding listing">
					<a href="#">
						<img class="b-lazy" data-src="../assets/search-1.jpg" alt=""/>
						<h3>Lorem ipsum dolor</h3>
						<h5>DISCOVER MORE</h5>
					</a>
				</div>
				<div class="l-col-4 l-padding listing">
					<a href="#">
						<img class="b-lazy" data-src="../assets/search-2.jpg" alt=""/>
						<h3>Lorem ipsum dolor</h3>
						<h5>Full Story</h5>
					</a>
				</div>
				<div class="l-col-4 l-padding listing">
					<a href="#">
						<img class="b-lazy" data-src="../assets/search-3.jpg" alt=""/>
						<h3>lorem ipsum dolor dit amet</h3>
						<h5>Find out here</h5>
					</a>
				</div>
				<div class="l-col-4 l-padding listing">
					<a href="#">
						<img class="b-lazy" data-src="../assets/search-1.jpg" alt=""/>
						<h3>Lorem ipsum dolor</h3>
						<h5>DISCOVER MORE</h5>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Search end -->

<!-- Sticky nav -->
<header class="header">
	<div class="slice">
		<div class="l-col-12 l-content t-light main-menu h-clearfix">
			<div class="l-col-4 f-col-4 l-padding">
				<div class="i-search"></div>
				<a class="back-to-aston h-hidden-sm" href="http://www.astonmartin.com/">astonmartin.com</a>
			</div>
			<div class="l-col-4 f-col-4 l-padding t-center">
				<div class="logo"></div>
			</div>
			<div class="l-col-4 f-col-4 l-padding">
				<div class="h-right">
					<div class="button-nav">
						<span class="button-nav-lines"></span>
					</div>
				</div>
			</div>
		</div>
		<div class="header-gradient"></div>
	</div>
</header>
<!-- Sticky nav end -->

<!-- Home hero -->
<div class="slice">
	<div class="hero-slick">
		<div>
			<div class="home-hero terms-hero b-lazy b-lazy" data-src="../assets/terms-bg.jpg">
				<div class="home-hero-content">
					<div class="t-light t-center t-hero">
						<div class="l-col-12 l-content l-padding">
							<h1>TERMS &amp; CONDITIONS</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Home hero end -->

<!-- Contact form -->
<div class="slice slice-terms h-clearfix">
	<div class="l-col-12 l-content">
		<div class="l-col-12 l-padding t-content">
			<div class="t-center">
				<h2>ASTONMARTIN.COM - GENERAL TERMS &amp; CONDITIONS</h2>
			</div>
			
			<h4>1 &nbsp;Introduction</h4>
			<p>1.1 Welcome to our website. Our Website is provided to you by Aston Martin Lagonda Limited, a company registered in England and Wales at Companies House (“Aston Martin”, “us”, “we” or “our”). Our registered office is at Banbury Road, Gaydon, Warwick CV35 0DB England and our registered number is 01199255. Our VAT number is 904447237.</p>
			<p>1.2 Please read these general terms and conditions (“General Terms”) carefully - they set out the basis on which you are allowed to use our Website. If you have any questions about them or don’t accept them, please contact our customer services department whose details appear at the end of these General Terms.</p>
			<p>1.3 In addition to these General Terms, your use of our Website may also be subject to other terms and conditions and policies which are referred to below.</p>
			<p>1.4 You should save and/or print out a copy of these General Terms for your future reference.</p>
			
			<h4>2 &nbsp;USING OUR WEBSITE</h4>
			<p>2.1 You, as the user of our Website (“you” “your” and “yourself”), can use our Website for your own personal non-commercial use.</p>
			<p>2.2 Access to our Website is permitted on a temporary basis and we reserve the right to withdraw or amend the service without notice. You are responsible for making all arrangements necessary to access this Website. You are also responsible for ensuring that all persons accessing our Website through your internet connection are aware of these General Terms.</p>
			<p>2.3 You are not permitted to use, or cause others to use, any automated system or software to extract content or data from our Website except in cases where you or any applicable third party has entered into a written agreement with us that expressly permits such activity.</p>
			<p>2.4 You acknowledge that we cannot guarantee that our Website will:</p>
			<p>a. stay the same as we might change or remove it or make access to it subject to registration or charges;</p>
			<p>b. be compatible with all or any hardware or software which you may use;</p>
			<p>c. be available all the time or at any specific time;</p>
			<p>d. be accurate and up to date; or</p>
			<p>e. be error-free or free of viruses, electronic bugs, Trojan horses or other harmful components and you must take your own precautions accordingly.</p>
			<p>2.5 You also acknowledge that:</p>
			<p>a. we cannot guarantee the speed or security of the Website; and</p>
			<p>b. we will not be responsible for any damage or loss you may suffer directly or indirectly as a result of any virus attack that can be traced to our Website to the fullest extent permissible by law.</p>

			<h4>3 &nbsp;VARIATIONS</h4>
			<p>3.1 We may from time to time vary these General Terms and/or the terms and policies referred to in these General Terms. Please check our terms and policies regularly to ensure you are aware of any variations we may make. If you continue to use our Website, you are deemed to have accepted such variations. If you do not agree to such variations, you should not use our Website.</p>
			 
			<h4>4 &nbsp;YOUR PRIVACY</h4>
			<p>4.1 The privacy of your personal data is important to us. Please see our PRIVACY POLICY, which forms part of these General Terms, for details of how we will process your personal data.</p>
			 
			<h4>5 &nbsp;OUR USE OF COOKIES</h4>
			<p>5.1 This Website uses cookies. Please see our COOKIE POLICY, which forms part of our General Terms, for further details.</p>
			 
			<h4>6 &nbsp;PURCHASING GOODS AND SERVICES FROM OUR WEBSITE</h4>
			<p>6.1 If you purchase goods or services from our Website then such purchases will be subject to our TERMS OF PURCHASE.</p>

		</div>
	</div>
</div>
<!-- Contact form end -->


<!-- Get updates -->
<div class="slice slice-updates h-clearfix">
	<div class="l-col-12 l-content">
		<div class="l-col-12 l-padding t-updates">
			<div class="t-center">
				<h2>GET exclusive am updates</h2>
				<h5>Get the latest news in your inbox.</h5>
			</div>
		</div>
		<div class="l-col-12 l-padding">
			<form>
				<select class="text title">
					<option value="volvo">Title</option>
					<option value="saab">Mr</option>
					<option value="mercedes">Mrs</option>
					<option value="audi">Ms</option>
				</select>
				<input class="text" placeholder="First Name" type="text" />
				<input class="text" placeholder="Last Name" type="text" />
				<input class="text" placeholder="Email Address" type="text" />
				<select class="text">
					<option value="volvo">Country</option>
					<option value="saab">NZ</option>
					<option value="mercedes">UK</option>
					<option value="audi">Italy</option>
				</select>
				<input class="button submit" value="sign up" type="submit" value="Submit">
			</form>
		</div>
	</div>
</div>
<!-- Get updates end -->

<!-- Footer -->
<footer>
	<div class="slice slice-footer h-clearfix">
		<div class="l-col-12 l-content">
			<div class="l-col-4 l-padding h-hidden-sm">
				<ul class="footer-nav">
					<li><a href="#">Shop</a></li>
					<li><a href="#">Experiences</a></li>
					<li><a href="#">ASTONMARTIN.COM</a></li>
					<li><a href="#"> TERMS &amp; CONDITIONS </a></li>
					<li><a href="#">PRIVACY POLICY</a></li>
					<li><a href="#">Cookie Policy</a></li>
					<li><a href="#">Site Map</a></li>
				</ul>
			</div>
			<div class="l-col-4 l-padding">
				<div class="footer-logo"></div>
			</div>
			<div class="l-col-4 l-padding">
				<div class="social">
					<a href="" class="circle">
						<span class="icon facebook"></span>
					</a>
					<a href="" class="circle">
						<span class="icon twitter"></span>
					</a>
					<a href="" class="circle">
						<span class="icon instagram"></span>
					</a>
					<div class="h-clearfix"></div>
					<a href="" class="circle">
						<span class="icon youtube"></span>
					</a>
					<a href="" class="circle">
						<span class="icon google"></span>
					</a>
					<a href="" class="circle">
						<span class="icon pinterest"></span>
					</a>
				</div>
			</div>
			<div class="l-col-4 l-padding h-visible-sm">
				<ul class="footer-nav">
					<li><a href="#">Shop</a></li>
					<li><a href="#">Experiences</a></li>
					<li><a href="#">ASTONMARTIN.COM</a></li>
					<li><a href="#"> TERMS &amp; CONDITIONS </a></li>
					<li><a href="#">PRIVACY POLICY</a></li>
					<li><a href="#">Cookie Policy</a></li>
					<li><a href="#">Site Map</a></li>
				</ul>
			</div>
		</div>
		<div class="l-col-12 l-content">
			<div class="l-col-12 l-padding copyright">
				<div class="copyright-content">© ASTON MARTIN 2016</div>
			</div>	
		</div>
	</div>
</footer>
<!-- Footer end -->

<script type="text/javascript" src="../source/js/libs/jquery.min.js"></script>
<script type="text/javascript" src="../source/js/libs/blazy.min.js"></script>
<script type="text/javascript" src="../source/js/libs/slick.min.js"></script>
<script type="text/javascript" src="../source/js/scripts/main.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js"></script>
<script>
 WebFont.load({
    google: {
      families: ['Lato:400,300,700']
    }
  });
</script>

</body>
</html>